extends layout

block content
  .content-area
    .container_404
      .container
        .row
          .col-12
            .inner-404
              //- img.body-404-img(src=web_assets+'images/404-image.png' alt='image')
              h1.title-404 404
              h2.subheading-404 This Page Was Lost
              p
                | The page you&rsquo;re looking for isn&rsquo;t available.
                br
                | Try to search or use the Go Back Button below.